.hero-title {
  font-size: 60px;
  font-weight: 900;
  color: #facc15;
  text-shadow: 0 0 25px rgba(250, 204, 21, 0.4);
}

.hero-actions {
  display: flex;
  gap: 14px;
  margin-top: 20px;
}

button {
  padding: 12px 22px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #facc15;
  color: #000;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  background: #eab308;
}

button.outline {
  background: transparent;
  border: 2px solid #facc15;
  color: #facc15;
}

.hero-card {
  margin-top: 30px;
  padding: 25px;
  border-radius: 20px;
  background: rgba(30, 41, 59, 0.8);
  border: 1px solid #334155;
  backdrop-filter: blur(10px);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #0f172a;
  border-bottom: 1px solid #1e293b;
}

.logo {
  color: #facc15;
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: #cbd5f5;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #facc15;
}
